<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <dllmap dll="libglib-2.0.dll" target="libglib-2.0.so.0" os="linux" />
        <dllmap dll="libgtk-win32-2.0-0.dll" target="libgtk-x11-2.0.so.0" os="linux" />
        <dllmap dll="libgdk-win32-2.0-0.dll" target="libgdk-x11-2.0.so.0" />
        <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.so.0" os="linux" />
        <dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0" os="linux" />
        <dllmap dll="gtksharpglue-2" target="libgtksharpglue-2.so" os="linux" />
        <dllmap dll="libgtksharpglue-2.so" target="libgtksharpglue-2.so" os="linux" />
        <dllmap dll="glibsharpglue-2" target="libglibsharpglue-2.so" os="linux" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
